body {
    margin: 20px; /* espaçamento entre os cants da tela */
    background-color: #DDDDDD; /* Cor do fundo */
    height: 100vh; /* Faz o corpo ocupar toda a altura da tela */
}

header {
    margin-top: 20px; /* espaçamento entre o topo da tela */
    display: flex; /* Usa Flexbox para centralização */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-start; /* Alinha no topo */
}

.tags {
    float: right; /* posição do lado direito */
    margin-right: 200px; /* espaçamento entre o lado direito da tela */
    margin-top: 50px;/* espaçamento entre o topo da tela */
}

section{
    float: left; /* posição do lado esquerdo */
    margin-left: 300px; /* espaçamento entre o lado esquerdo da tela */
    padding: 15px; /* espaçamento entre os objetos */
    margin-top: 50px;/* espaçamento entre o topo da tela */
}

.resultados-pesquisa{
    display: inline-table; /* alinhamento */
    margin-top: 100px;/* espaçamento entre o topo da tela */
    padding: 10px;
    margin-bottom: 10px;
}

.botao {
    padding: 10px 15px; /* Espaçamento interno */
    font-size: 12px; /* Tamanho da fonte */
    color: #fff; /* Cor do texto */
    background-color: #0400ff; /* Cor de fundo */
    border: none; /* Remove borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    cursor: pointer; /* Muda o cursor ao passar por cima */
    transition: background-color 0.3s, transform 0.2s; /* Transições suaves */
}
    .botao:hover {
        background-color: #0056b3; /* Cor de fundo ao passar o mouse */
    }

    .botao:active {
        transform: scale(0.95); /* Efeito de "pressionar" */
    }
    
.section {
    display: flex;
    border: 1px solid #ccc; /* Borda da barra */
    border-radius: 25px; /* Bordas arredondadas */
    overflow: hidden; /* Esconde bordas internas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#campo-pesquisa {
    border: none; /* Remove a borda padrão */
    padding: 12px 60px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    outline: none; /* Remove contorno ao focar */
    flex: 1; /* Faz o campo ocupar o espaço disponível */
    border-radius: 15px; /* arredonda as bordas */
}
    
    #campo-pesquisa::placeholder {
        color: #aaa; /* Cor do texto do placeholder */
    }

.imagem {
    width: 45vh;
    height: 40vh;
}
    .imagem:hover {
        transform: scale(1.2);
        transition: transform 0.3s ease-in-out;
    }

.item-resultado {
    border: 1px solid ;
    padding: 10px;
}
